/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --pri:#e4d889;
    --sec:#8B2626;
    --tri1: #e33232;
    --tri2: #F3CD97;
    --card: #7C3AED;
    --header: #4C1D95;
    --text: #F5F3FF;
    --white:white;
    --red:rgb(232, 2, 2);
    --sky:rgb(89, 167, 198);
    --green:green;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Rubik;
    color: var(--pri);
}
html,body{
    width: 100%;
    height: 100vh;
}
#main{
    width: 100%;
    padding-top: 90px;
    height: 120%;
    color: var(--pri);
    background-color: var(--sec);
}
/* h2{
    font-family: Rubik;
    font-weight: 400;
    font-size: 250px;
} */

section.allElems{
    width: 100%;
    height: 100vh;
    padding: 25px 35px;
    /* padding-top: 30px; */
    
    position: absolute;
}
.allElems header{
    height: 230px;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1472214103451-9374bd1c798e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bmF0dXJlfGVufDB8MHwwfHx8MA%3D%3D);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
}
.header1 h1{
    font-size: 55px;
}
.header1 h2{
    font-size: 37px;
    font-weight: 500;
}
.header1 h4{
    font-size: 42px;
    font-weight: 500;
}
.header2 h2{
    font-size: 40px;
}
.header2 h4{
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 24px;
}
.header2 h3{
    font-size: 16px;
    font-weight: 400;
}
.allFeatures{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;    
    gap:22px;
}
.elem{
    background-color: var(--tri1);
    cursor: pointer;
    height:319px;
    width: 264px;
    border-radius: 11px;
    overflow: hidden;
    position: relative;
    -webkit-transition:all ease 0.25s;
    transition:all ease 0.25s;
    -webkit-box-shadow: 1.9px 4px 10px rgba(154, 153, 153, 0.468) ;
            box-shadow: 1.9px 4px 10px rgba(154, 153, 153, 0.468) ;
}
.elem img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.elem h2{
    color: var(--white);
    position: absolute;
    bottom: 4%;
    right: 3%;
    font-size: 22px;
    font-weight: 500;
}
.elem:active{
    scale: 0.95;
}
.fullElems{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    top: 0;
    display: none;
    position: absolute;
    z-index: 999;
}
.back{
    background-color: var(--red);
    position: absolute;
    right: 4%;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    padding: 10px 15px;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}
.back:active{
    scale: 0.96;
}
.todo-fullpage{
    /* display: block; */
}
.todo-fullpage h2{
    font-size: 50px;
}
.todo-fullpage .todcontainer{
    height: 80%;
    width: 100%;
    margin-top: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.todo-fullpage .todcontainer .addTask{
    width: 32%;
    height: 100%;
    background-color: var(--tri1);
    border-radius: 22px;
}

.todo-fullpage .todcontainer .addTask form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
}
.addTask form input[type="text"]{
    width: 100%;
    background-color: var(--sec);
    padding: 10px 26px;
    border-radius: 10px;
    border: none;
    color: var(--white);
    outline: none;
    font-size: 22px;
    margin-bottom: 20px;
}
.addTask form textarea{
    width: 100%;
    
    background-color: var(--sec);
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    color: var(--white);
    outline: none;
    font-size: 22px;
    margin-bottom: 20px;
}
.addTask form button{
    width: 100%;
    padding: 10px 26px;
    background-color: var(--sky);
    border-radius: 10px;
    border: none;
    color: var(--white);
    outline: none;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    cursor: pointer;
}
.addTask form button:active{
    scale: 0.96;
}

.todo-fullpage .todcontainer .allTasks{
    width: 66%;
    height: 100%;
    background-color: var(--tri1);
    border-radius: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
    overflow: auto;
}
.task{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 22px;
    background-color: var(--sec);
    border-radius: 10px;
    margin-bottom: 10px;
}
.task h5{
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 9px;
}
.task h5 span{
    font-size: 12px;
    background-color: var(--tri1);
    color: var(--tri2);
    padding: 5px 8px;
    border-radius: 50px;
    
}
.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}
.task button{
    border-radius: 10px;
    padding: 8px 27px;
    border-radius: none;
    color: var(--white);
    border: none;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--green);
    cursor: pointer;
    -webkit-transition: all ease 0.28s;
    transition: all ease 0.28s;
}
.task button:active{
    scale: 0.97;
}

.markImp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 46px;
    gap: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 15px;
    /* background-color: #a08b04; */
    margin-bottom: 12px;
}
.markImp input{
    width: 16px;
    height: 16px;
}
.markImp label{
    font-size: 18px;
}

.Planner-fullpage{
    /* display: block; */
}
.Planner-fullpage h2{
    font-size: 55px;
}
.Planner-fullpage .dayPlanner{
    background-color: var(--tri1);
    height: 85%;
    border-radius: 10px;
    margin-top: 25px;
    width: 100%;
    padding: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: auto;
}
.dayPlanner .dayPlannerTime{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    position: relative;
    width: 49%;
    margin-bottom: 12px;
    /* height: ; */
}
.dayPlanner .dayPlannerTime p{
    position: absolute;
    top: 14%;
    left: 1%;
    font-size: 22px;
}
.dayPlanner .dayPlannerTime input{
    padding: 20px 40px;
    width: 100%;
    background-color: var(--sec);
    border: none;
    font-size: 26px;
    border-radius: 10px;
    outline: none;
    font-size: 29px;
    padding-top: 35px;
}

.motifullpageContianer{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.motivationalContainer{
    width: 65%;
    height: 340px;
    background-color: var(--card);
    position: absolute;
    border-radius: 50px;
}
.motivationalContainer::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--card);
    scale: 1.14;
    border-radius: 50px;
    z-index: 8;
    -webkit-filter: blur(50px);
            filter: blur(50px);
}
.motivationalWrapper{
    width: 100%;
    /* height: 100%; */
    background-color: var(--card);
    z-index: 10;
    border-radius: 33px;
    position: absolute;
    padding: 19px;
}
.motivation1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    /* margin-top: 77px; */
}
.motivation1 h3{
    font-size: 25px;
    font-weight: 400;
    text-align: right;
    padding: 21px;
    border-radius: 10px;
    background-color: var(--header);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.motivation2{
    margin-top: 19px;
    padding: 11px;
}
.motivation2 h3{
    font-weight: 600;
    font-size: 33px;
}
.motivation3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 77px;
}
.motivation3 h3{
    font-size: 25px;
    font-weight: 400;
    text-align: right;
    padding: 21px;
    border-radius: 10px;
    background-color: var(--header);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.motivationalWrapper img{
    position: absolute;
    right: 3%;
    top: 5%;
    opacity: 0.3;
}

.timer-fullpage h1{
    font-size: 63px;
}
.timer-fullpage .pomoTimer{
    position: absolute;
    left: 50%;
    top: 46%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    text-align: center;
}
.pomoTimer h1{
    font-size: 115px;
}
.pomoTimer button{
    font-size: 23px;
    padding: 5px 16px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    background-color: var(--pri);
    color: var(--sec);
    cursor: pointer;
    -webkit-box-shadow: 7px 7px 0px var(--black);
            box-shadow: 7px 7px 0px var(--black);
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    font-weight: 600;
}
.pomoTimer button:active{
    
    -webkit-box-shadow: 0px 0px 0px var(--black);
    
            box-shadow: 0px 0px 0px var(--black);
}

nav{
    position: fixed;
    top: 0;
    z-index: 99;
    /* height: 60px; */
    width: 100%;
    margin-bottom: 23px;
    padding:15px 30px;
}
.navIN{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--tri1);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 19px 30px;
    border-radius: 10px;
    
}
.navIN h2{
    font-size: 31px;
    font-size: 400;
}
.theme{
    background-color: var(--sec);
    padding: 10px;
    border-radius: 10px;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    cursor: pointer;
}
.theme h4{
    font-size: 20px;
    pointer-events: none;
}
.theme:active{
    scale: 0.96;
}